        <div class="row">
            <div class="col-12">
              <div class="card mb-3 btn-reveal-trigger">
                <form action="profileEdit" method="POST" encType="multipart/form-data">
                <div class="card-header position-relative min-vh-25 mb-8 ">
                  <div class="cover-image">
                    
                    {{#if user.CoverPhoto}}
                    <div class="bg-holder rounded-3 rounded-bottom-0" id="upload-cover-images" style="background-image:url(http://localhost:3000/{{user.CoverPhoto}});">
                    </div>
                    {{else}}
                    <div class="bg-holder rounded-3 rounded-bottom-0" id="upload-cover-images" style="background-image:url(http://localhost:3000/assets/img/generic/4.jpg);">
                    </div>
                    {{/if}}
                    <!--/.bg-holder-->

                    <input class="d-none" onchange="loadCover(event)" id="upload-cover-image" name="uploadcover" type="file" />
                    <label class="cover-image-file-input" for="upload-cover-image"><span class="fas fa-camera me-2"></span><span>Change cover photo</span></label>
                  </div>
                  <div class="avatar avatar-5xl avatar-profile shadow-sm img-thumbnail rounded-circle">
                    <div class="h-100 w-100 rounded-circle overflow-hidden position-relative"> 
                      {{#if user.Path}}
                        <img id="profile-images" src="http://localhost:3000/{{user.Path}}" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                      {{else}}
                        <img id="profile-images" src="http://localhost:3000/assets/img/team/2.jpg" width="200" alt="" data-dz-thumbnail="data-dz-thumbnail" />
                      {{/if}}
                      
                      <input class="d-none" onchange="loadProfile(event)" id="profile-image" name="profile" type="file" />
                      <label class="mb-0 overlay-icon d-flex flex-center" for="profile-image"><span class="bg-holder overlay overlay-0"></span><span class="z-index-1 text-white dark__text-white text-center fs--1"><span class="fas fa-camera"></span><span class="d-block">Update</span></span></label>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button class="btn btn-primary" id="Btn" type="submit">Update </button>
                </div>
                </form>
              </div>              
            </div>
          </div>
          <div class="row g-0 ">
            <div class="col-lg-6 pe-lg-2">
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Profile Settings</h5>
                </div>
                <div class="card-body bg-light">
                  <form action="profileEditInfo" id="ProfileSetting" method="POST" class="row g-3 needs-validation" novalidate="">
                    {{#if error}}
                      <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
                        <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
                        <p class="mb-0 flex-1">{{error}} !</p>
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {{/if}}
                    <div class="col-0">
                        <input class="form-control" type="hidden" value="{{user.id}}" name="id" />
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="username">Username</label>
                      <input class="form-control" id="username" name="username" type="text" value="{{user.username}}" maxlength="30" required/>
                      <div class="invalid-feedback" for="username"></div>
                      <div class="valid-feedback" for="username"></div>
                    </div>
                    <div class="col-lg-6">
                      <label class="form-label" for="fonction">Fonction</label>
                      <input class="form-control" id="fonction" name="fonction" type="text" value="{{user.fonction}}" maxlength="30"/>
                      <div class="invalid-feedback" for="fonction"></div>
                      <div class="valid-feedback" for="fonction"></div>
                    </div>
                    <div class="col-lg-12">
                      <label class="form-label" for="email">Email</label>
                      <input class="form-control" id="email" name="email" type="text" value="{{user.email}}" email="true" required/>
                      <div class="invalid-feedback" for="email"></div>
                      <div class="valid-feedback" for="email"></div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                      <button class="btn btn-primary" type="submit">Update </button>
                    </div>
                  </form>
                </div>
              </div>
              </div>
              <div class="col-lg-6 ps-lg-2">
              <div class="sticky-sidebar">                  
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Change Password</h5>
                  </div>
                  <div class="card-body bg-light">
                    <form action="profileEditPassW" id="changePwForm" method="POST" class="row g-3 needs-validation" novalidate="">
                      {{#if errorPW}}
                      <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
                        <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
                        <p class="mb-0 flex-1">{{errorPW}} !</p>
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {{/if}}
                      {{#if SuccessPW}}
                      <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
                        <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
                        <p class="mb-0 flex-1">{{SuccessPW}} !</p>
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {{/if}}
                      <div class="col-0">
                        <input class="form-control" type="hidden" value="{{user.id}}" name="id" />
                    </div>
                      <div class="col-lg-12">
                        <label class="form-label" for="oldpassword">Old Password</label>
                        <input class="form-control" id="oldpassword" value="{{OldPW}}" name="oldpassword" type="password" maxlength="12" required minlength="5" />
                        <div class="invalid-feedback" for="oldpassword"></div>
                      </div>
                      <div class="col-lg-6">
                        <label class="form-label" for="newpassword">New Password</label>
                        <input class="form-control" id="newpassword" name="newpassword" type="password" maxlength="12" required minlength="5"/>
                        <div class="invalid-feedback" for="newpassword"></div>
                      </div>
                      <div class="col-lg-6">
                        <label class="form-label" for="confirmpassword">Confirm Password</label>
                        <input class="form-control" id="confirmpassword" name="confirmpassword" type="password" equalTo="#newpassword" maxlength="12" required minlength="5"/>
                        <div class="invalid-feedback" for="confirmpassword"></div>
                        <div class="valid-feedback" for="confirmpassword"></div>
                      </div>
                      <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Update Password</button>
                      </div>
                    </form>
                  </div>
                </div>
               
     <button id='button1'> Test </button>
              </div> 
            </div>
            </div>
<script>
  $('#button1').click(function(){
    console.log('button clicked');
    $.ajax({url: 'test1', success:function(res){
        console.log('server response is', res);
    }});
});

  var x = document.getElementById("Btn");
  x.style.display = "none";
  var loadProfile = function(event) {
    var reader = new FileReader();
    reader.onload = function(){
      var output = document.getElementById('profile-images');
      output.src = reader.result;
      x.style.display = "block";
      console.log("{{user.username}}");
    };
    reader.readAsDataURL(event.target.files[0]);
  };
  var loadCover = function(event) {
    var output = document.getElementById('upload-cover-images');
    console.log(event.target.files[0]);
    output.setAttribute("style", "background-image: url(" + URL.createObjectURL(event.target.files[0]) + ");");
    //output.src = URL.createObjectURL(event.target.files[0]);    
    x.style.display = "block";
    output.onload = function() {
    URL.revokeObjectURL(output.src) // free memory
    }
  };


	$().ready(function() {

     $("#ProfileSetting").validate({
      errorPlacement: function(error, element) {
			// Append error within linked label
			$( element )
				.closest( "form" )
					.find( "div[for='" + element.attr( "id" ) + "']" )
						.append( error );
		},
		errorElement: "span",
			messages: {
				username: {
					required: " (Please enter your username)"
				},
				fonction: {
					required: " (Please provide a fonction)"
				},
				email: "Please enter a valid email address"
			}
		});

		$("#changePwForm").validate({
      errorPlacement: function(error, element) {
			// Append error within linked label
			$( element )
				.closest( "form" )
					.find( "div[for='" + element.attr( "id" ) + "']" )
						.append( error );
		},
		errorElement: "span",
			messages: {
				oldpassword: {
					required: " (Please enter your Old Password)",
					minlength: " (old password must consist of at least 5 characters)"
				},
				newpassword: {
					required: " (Please provide a password)",
					minlength: " (Your password must be at least 5 characters long)"
				},
				confirmpassword: {
					required: " (Please provide a password)",
					minlength: " (Your password must be at least 5 characters long)",
					equalTo: " (Please enter the same password)"
				}
			}
		});
});
</script>