


<div class="card mb-3">
            <div class="card-header position-relative min-vh-25 mb-7">
              <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(../../assets/img/generic/4.jpg);">
              </div>
              <!--/.bg-holder-->

              <div class="avatar avatar-5xl avatar-profile"><img class="rounded-circle img-thumbnail shadow-sm" src="http://localhost:3000/{{etudiant.ImgPath}}" width="200" alt="" /></div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <h4 class="mb-1">{{etudiant.Nom}} {{etudiant.Prenom}}<span data-bs-toggle="tooltip" data-bs-placement="right" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                  </h4>
                  <h5 class="fs-0 fw-normal">Né(e) le {{etudiant.Date_naissance}} à {{etudiant.Lieu_naissance}}</h5>
                  <p class="text-500">{{etudiant.Label_Obs}}</p>
                  <button class="btn btn-falcon-primary btn-sm px-3" type="button">Following</button>
                  <button class="btn btn-falcon-default btn-sm px-3 ms-2" type="button">Message</button>
                  <div class="border-dashed-bottom my-4 d-lg-none"></div>
                </div>
                <div class="col ps-2 ps-lg-3"><a class="d-flex align-items-center mb-2" href="#"><span class="fas fa-user-circle fs-3 me-2 text-700" data-fa-transform="grow-2"></span>
                    <div class="flex-1">
                      <h6 class="mb-0">See followers (330)</h6>
                    </div>
                  </a><a class="d-flex align-items-center mb-2" href="#"><img class="align-self-center me-2" src="../../assets/img/logos/g.png" alt="Generic placeholder image" width="30" />
                    <div class="flex-1">
                      <h6 class="mb-0">Google</h6>
                    </div>
                  </a><a class="d-flex align-items-center mb-2" href="#"><img class="align-self-center me-2" src="../../assets/img/logos/apple.png" alt="Generic placeholder image" width="30" />
                    <div class="flex-1">
                      <h6 class="mb-0">Apple</h6>
                    </div>
                  </a><a class="d-flex align-items-center mb-2" href="#"><img class="align-self-center me-2" src="../../assets/img/logos/hp.png" alt="Generic placeholder image" width="30" />
                    <div class="flex-1">
                      <h6 class="mb-0">Hewlett Packard</h6>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
<script>
  function my_date(date_string) {
      var date_components = date_string.split("-");
      var day = date_components[0];
      var month = date_components[1];
      var year = date_components[2];
      return new Date(year, month - 1, day);
    }
  function toMonthName(monthNumber) {
  const date = new Date();
  date.setMonth(monthNumber - 1);

  return date.toLocaleString('en-US', {
    month: 'short',
  });
}
</script>
          <div class="row g-0">
            <div class="col-lg-8 pe-lg-2">
              <div class="card mb-3 mb-lg-0">
                  <div class="card-header bg-light">
                    <h5 class="mb-0">Journal</h5>
                  </div>
                  <div class="card-body fs--1">
                    {{#each journal}}
                    <div class="d-flex btn-reveal-trigger" >
                      <div class="calendar"><span id="Month{{ID_Journal}}" class="calendar-month">Feb</span><span id="Day{{ID_Journal}}" class="calendar-day">21</span></div>
                      <div class="flex-1 position-relative ps-3">
                        <h6 class="fs-0 mb-0"><p class="text-primary mb-0">{{Paiement}}</p></h6>
                        <p class="text-700 mb-0">Montant: <span class="text-1000 mb-0">MGA {{Argent}}</span></p>
                        Mode: <span class="text-1000 mb-0">{{Mode_P}}</span>
                        <div class="border-dashed-bottom my-3"></div>
                      </div>
                    </div> 
                    <script>
                      var mm=my_date("{{Date_P}}").getMonth()+1;
                      var dd=my_date("{{Date_P}}").getDate();
                      console.log("date "+dd+" month "+mm+ " "+toMonthName(mm));
                      $('#Month{{ID_Journal}}').text(""+toMonthName(mm));
                      $('#Day{{ID_Journal}}').html(""+dd);
                    </script>
                    {{/each}}
                  </div>


                </div>              
            </div>
<script>

</script>
            <div class="col-lg-4 ps-lg-2">
              <div class="sticky-sidebar">
              <div class="card mb-3">
                  <div class="card-header bg-light">
                    <h5 class="mb-0">Parent</h5>
                  </div>
                  <div class="card-body fs--1">
                    <div class="d-flex"><a href="#!">
                        <div class="avatar avatar-3xl">
                          <div class="avatar-name rounded-circle"><span>SU</span></div>
                        </div>
                      </a>
                      <div class="flex-1 position-relative ps-3">
                        <h6 class="fs-0 mb-0"> <a href="#!">Stanford University<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
                        <p class="mb-1">Computer Science and Engineering</p>
                        <p class="text-1000 mb-0">2010 - 2014 • 4 yrs</p>
                        <p class="text-1000 mb-0">California, USA</p>
                        <div class="border-dashed-bottom my-3"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header bg-light">
                    <h5 class="mb-0">Frère et soeur</h5>
                  </div>
                  <div class="card-body fs--1">
                    <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/g.png" alt="" width="56" /></a>
                      <div class="flex-1 position-relative ps-3">
                        <h6 class="fs-0 mb-0">Big Data Engineer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                        </h6>
                        <p class="mb-1"> <a href="#!">Google</a></p>
                        <p class="text-1000 mb-0">Apr 2012 - Present &bull; 6 yrs 9 mos</p>
                        <p class="text-1000 mb-0">California, USA</p>
                        <div class="border-dashed-bottom my-3"></div>
                      </div>
                    </div>
                    <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/apple.png" alt="" width="56" /></a>
                      <div class="flex-1 position-relative ps-3">
                        <h6 class="fs-0 mb-0">Software Engineer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                        </h6>
                        <p class="mb-1"> <a href="#!">Apple</a></p>
                        <p class="text-1000 mb-0">Jan 2012 - Apr 2012 &bull; 4 mos</p>
                        <p class="text-1000 mb-0">California, USA</p>
                        <div class="border-dashed-bottom my-3"></div>
                      </div>
                    </div>
                    <div class="d-flex"><a href="#!"> <img class="img-fluid" src="../../assets/img/logos/nike.png" alt="" width="56" /></a>
                      <div class="flex-1 position-relative ps-3">
                        <h6 class="fs-0 mb-0">Mobile App Developer<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span>
                        </h6>
                        <p class="mb-1"> <a href="#!">Nike</a></p>
                        <p class="text-1000 mb-0">Jan 2011 - Apr 2012 &bull; 1 yr 4 mos</p>
                        <p class="text-1000 mb-0">Beaverton, USA</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="mb-0" id="followers">Followers <span class="d-none d-sm-inline-block">(233)</span></h5>
                </div>
                <div class="col text-end"><a class="font-sans-serif" href="../../app/social/followers.html">All Members</a>
                </div>
              </div>
            </div>
            <div class="card-body bg-light px-1 py-0">
              <div class="row g-0 text-center fs--1">
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/1.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Emilia Clarke</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Technext limited</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/2.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Kit Harington</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Harvard Korea Society</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/3.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Sophie Turner</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Graduate Student Council</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/4.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Peter Dinklage</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Art Club, MIT</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/5.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Nikolaj Coster</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Archery Club, MIT</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/6.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Isaac Hempstead</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Asymptones</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/7.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Alfie Allen</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Brain Trust</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/8.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Iain Glen</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">GSAS Action Coalition</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/9.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Liam Cunningham</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Caving Club, MIT</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/10.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">John Bradley</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Chess Club</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/11.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Rory McCann</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Chamber Music Society</a></p>
                  </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
                  <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/12.jpg" alt="" width="100" /></a>
                    <h6 class="mb-1"><a href="../../pages/user/profile.html">Joe Dempsie</a>
                    </h6>
                    <p class="fs--2 mb-1"><a class="text-700" href="#!">Clubchem</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>