<div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(http://localhost:3000/assets/img/icons/spot-illustrations/corner-4.png);">
    </div>
    <!--/.bg-holder-->

    <div class="card-body position-relative">
        <div class="row">
            <div class="col-lg-8">
            <h3>Paramètres</h3>
                <p class="mb-0">On trouve ici l'année scolaire, droit d'inscription, niveau, montant et les mois pour l'écolage, les classes et les autres frais de scolarité.</p>
            </div>
        </div>
    </div>
</div>

<div class="row g-0">
            <div class="col-lg-6 pe-lg-2">
              <div class="card mb-3 ">
                <div class="card-header">
                  <h5 class="mb-0">Niveau</h5>
                </div>
                <div class="card-body bg-light"><a class="mb-4 d-block d-flex align-items-center newNIV" onclick="AddNIV()" href="#education-form" data-bs-toggle="collapse" aria-expanded="false" aria-controls="education-form"><span class="circle-dashed"><span class="fas fa-plus"></span></span><span class="ms-3">Ajouter un nouveau Niveau</span></a>
                  <div class="collapse" id="education-form">
                    
                    <form class="row" id="NIV_Form" action="" method="POST">
                      <div class="col-3 mb-3 text-lg-end">
                        <label class="form-label" for="Label_Niv">Désignation</label>
                      </div>
                      <div class="col-9 col-sm-7 mb-3">
                        <input class="form-control form-control-sm" id="ID_Niv" name="ID_Niv" type="text" hidden/>
                        <input class="form-control form-control-sm" autocomplete="off" id="Label_Niv" name="Label_Niv" type="text" required/>
                      </div>
                      <div class="col-3 mb-3 text-lg-end">
                        <label class="form-label" for="Frais_Sco">Frais de scolarité</label>
                      </div>
                      <div class="col-9 col-sm-7 mb-3">
                        <input class="form-control form-control-sm" autocomplete="off" id="Frais_Sco" name="Frais_Sco" type="number" required/>
                      </div>
                      <div class="col-3 mb-3 text-lg-end">
                        <label class="form-label" for="Nb_mois">Nombre du mois</label>
                      </div>
                      <div class="col-9 col-sm-7 mb-3">
                        <input class="form-control form-control-sm" autocomplete="off" id="Nb_mois" name="Nb_mois" type="number" max="12" required/>
                      </div>
                      <div class="col-9 col-sm-7 offset-3">
                        <a class="btn btn-falcon-default me-2 mb-1 cancel" href="#education-form" data-bs-toggle="collapse" aria-expanded="false" aria-controls="education-form">
                          
                          Annuler
                        </a>
                        <button class="btn btn-falcon-primary me-3 mb-1" id="btnSubmit" type="submit">
                          Update
                        </button>
                      </div>
                    </form>
                    <div class="border-dashed-bottom my-3"></div>
                  </div>
                    {{#each niveau}}
                  <div class="d-flex ">
                    <a href="#!">
                      <div class="avatar avatar-3xl">
                        <div class="avatar-name rounded-circle"><span class="ID">{{ID_Niv}}</span></div>
                      </div>
                    </a>
                    <div class="flex-1 position-relative ps-3">
                      <h6 class="fs-0 mb-0"> <a href="#!">Niveau {{Label_Niv}}<span data-bs-toggle="tooltip" data-bs-placement="top" title="Verified"><small class="fa fa-check-circle text-primary" data-fa-transform="shrink-4 down-2"></small></span></a></h6>
                      <p class="mb-1">Frais de scolarité à payer pour ce niveau est</p>
                      <p class="text-1000 mb-0">MGA {{Decimal Frais_Sco}}</p>
                      <p class="text-1000 mb-0">Pendant {{Nb_mois}} mois pour le niveau {{Label_Niv}}</p>
                      <div class="border-dashed-bottom my-3"></div>
                    </div>
                    <a class="mb-4 d-block d-flex align-items-center text-warning niveau" href="#education-form" data-bs-toggle="collapse" title="Edit" aria-expanded="false" aria-controls="education-form"><span class="circle-dashed bg-white">
                      <span class="fas fa-edit"></span></span><span class="ms-3">  </span>
                    <span class="ID" hidden>{{ID_Niv}}</span>
                    <span class="NIV" hidden>{{Label_Niv}}</span>
                    <span class="Mont" hidden>{{Frais_Sco}}</span>
                    <span class="MOIS" hidden>{{Nb_mois}}</span>
                    </a>
                    <a class="mb-4 d-block d-flex align-items-center text-danger delete" href="#education-form" data-bs-toggle="collapse" title="Delete" aria-expanded="false" aria-controls="education-form"><span class="circle-dashed bg-white">
                      <span class="fas fa-trash"></span></span><span class="ms-3">  </span>
                      <span class="ID" hidden>{{ID_Niv}}</span>
                    <span class="NIV" hidden>{{Label_Niv}}</span>
                    <span class="Mont" hidden>{{Frais_Sco}}</span>
                    <span class="MOIS" hidden>{{Nb_mois}}</span>
                    </a>
                  </div>
                  {{/each}}
                  <script>   
                            var e = document.getElementById("NIV_Form"); //Get the element 
                            
                            function AddNIV(){
                              e.setAttribute("action", "/addNiveau");
                              console.log(e.getAttribute('action'));
                              $("#btnSubmit").html("Ajouter");
                              initForm();
                            }
                            $('a.cancel').click(
                            function(){
                              initForm();
                            });
                            function initForm(){
                            $('#ID_Niv').val("");
                            $('#Label_Niv').val("");
                            $('#Frais_Sco').val("");
                            $('#Nb_mois').val("");
                            }
                            $('a.niveau').click(
                            function(){  
                              e.setAttribute("action", "/editNiveau");
                              $("#btnSubmit").html("Enregistrer");
                              console.log(e.getAttribute('action'));
                              AddvalueInput(this);
                            });
                            $('a.delete').click(
                            function(){
                              e.setAttribute("action", "/DeleteNiveau");
                              $("#btnSubmit").html("Supprimer");
                              console.log(e.getAttribute('action'));
                              AddvalueInput(this);
                            });
                            function AddvalueInput(c){
                              var id = $(c).find('span.ID').html();
                              var niv = $(c).find('span.NIV').html();
                              var mont = $(c).find('span.Mont').html();
                              var mois = $(c).find('span.MOIS').html();
                              
                              console.log("val "+id+" "+niv);
                            $('#ID_Niv').val(id);
                            $('#Label_Niv').val(niv);
                            $('#Frais_Sco').val(mont);
                            $('#Nb_mois').val(mois);
                            }
                    </script>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-header">
                  <h5 class="mb-0">Droit d'inscription</h5>
                </div>
                <div class="card-body bg-light">
                  <button class="btn btn-falcon-primary me-1 mb-1" id="NewDroit" onclick="AddDroit_Insc()" type="button">Nouveau Droit
                  </button>
                  <div class="table-responsive scrollbar">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Désignation</th>
                              <th scope="col">Montant</th>
                              <th class="text-end" scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each droit}}
                            <tr>
                              <td>{{Label_D}}</td></script>
                              <td>MGA {{Decimal montant}}</td>
                              <td class="text-end">
                                <div>
                                  <a href="/editdroit/{{this.ID_Droit}}" class="btn p-0" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="text-500 fas fa-edit text-danger"></span></a>
                                </div>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                </div>
              </div>
              <div class="card mb-3  mb-lg-0">

<!-- Modal pour le MOIS -->          
<div class="modal fade" id="Mois-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="Mois_Form" method="POST">
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="modalMoisLabel"></h4>
        </div>
        <div class="p-4 pb-0">          
            <div class="mb-3">
              <input class="form-control" id="ID_Eco" name="ID_Eco" type="text" hidden/>
            </div>
            <div class="mb-3">
              <label class="col-form-label" for="Label_Eco">Désignation:</label>
              <input class="form-control" id="Label_Eco" autocomplete="off" maxlength="9" name="Label_Eco" type="text" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-falcon-default me-2 mb-1 " type="button" data-bs-dismiss="modal">
            <span class="fas fa-times-circle" data-fa-transform="shrink-3"></span>
            Annuler
        </button>
          <button class="btn btn-falcon-primary me-3 mb-1" id="btnSubMois" type="submit">
            Update
          </button>
      </div>
      </form>
    </div>
  </div>
</div>
                <div class="card-header">
                  <h5 class="mb-0">Les mois pour l'écolage</h5>
                </div>
                <div class="card-body bg-light">
                  <button class="btn btn-falcon-primary me-1 mb-1" id="AddMOISbtn" onclick="AddMois()" type="button">Ajouter les mois
                  </button>
                  <div class="table-responsive scrollbar">
                        <table class="table text-center">
                          <thead>
                            <tr class="">
                              <th scope="col">ID</th>
                              <th scope="col">Mois</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="bg-light Eco">
                            {{#each ecolage}}
                            <tr>
                              <td>{{ID_Eco}}</td>
                              <td>{{Label_Eco}}</td>
                              <td>
                                <div>
                                  <button class="btn p-0" type="button" data-bs-toggle="modal" data-bs-target="#Mois-modal" title="Edit"><span class="text-500 fas fa-edit"></span></button>
                                </div>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                          <script>
                            var mois = document.getElementById("Mois_Form");
                            function LoadMoisLastID(){      
                              // any @main.hbs no misy ny APPEL                      
$.ajax({url: 'getMoisID', success:function(res){
                                if(res){
                                    document.querySelector('#AddMOISbtn').disabled = false;
                                } else {
                                    document.querySelector('#AddMOISbtn').disabled = true;
                                }
                            }});
                            }
                            function AddMois() {                       
                              mois.setAttribute("action", "/AddMois");
                              $("#modalMoisLabel").html("Ajout d'un mois");
                              $("#btnSubMois").html("Ajouter");    
                            $("#Mois-modal").modal('toggle');
                            }
                            $('tbody.Eco tr').click(
                            function(){                              
                              mois.setAttribute("action", "/editMois");
                              var id = $(this).find("td:nth-child(1)").html();
                              var label = $(this).find("td:nth-child(2)").html();
                            $('#ID_Eco').val(id);
                            $('#Label_Eco').val(label);
                            });
                          </script>
                        </table>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 ps-lg-2">
<!-- MODAL POUR Droit D'inscription -->
<div class="modal fade" id="Droit-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="DroitForm" method="POST">
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="modalDroitLabel"></h4>
        </div>
        <div class="px-4 pb-0 ">    
            <div class="mb-3">
              <label class="col-form-label" for="ID_Niv">Niveau:</label>
              <input class="form-control" id="Label_NivD" name="Label_NivD" type="text" hidden/>
              <select class="form-select" aria-label="Default select example" name="ID_Niv" id="ID_NivDropdownDroit">
                
              </select>
            </div>     
            <div class="mb-3">
              <label class="col-form-label" for="montant0">Droit pour les Nouveaux:</label>
              <input class="form-control" id="montant0" name="montant0" type="number" autocomplete="off"/>
            </div>         
            <div class="mb-3">
              <label class="col-form-label" for="montant">Droit pour les anciens:</label>
              <input class="form-control" id="montant" name="montant" type="number" autocomplete="off"/>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-falcon-default me-2 mb-1 " type="button" data-bs-dismiss="modal">
            Annuler
        </button>
          <button class="btn btn-falcon-primary me-3 mb-1" type="submit" id="btnSubDroit">
            Update
          </button>
      </div>
      </form>
    </div>
  </div>
</div>

                      <script>                          
                            var droit = document.getElementById("DroitForm");
                          function AddDroit_Insc() {                       
                              droit.setAttribute("action", "/AddDroit");
                              $("#modalDroitLabel").html("Droit D'inscription");
                              $("#btnSubDroit").html("Ajouter");    
                            $("#Droit-modal").modal('toggle');
                            }
                            function LoadNivDroit(){      
                              // any @main.hbs no misy ny APPEL                      
                              $.ajax({url: 'getNiveauDroit', success:function(res){
                                if(res != 0){
                                    document.querySelector('#NewDroit').disabled = false;
                                $('#ID_NivDropdownDroit').html('');  
                                var options = '';   
                                for (var i = 0; i < res.length; i++) {  
                                    options += '<option value="' + res[i].ID_Niv + '">' + res[i].Label_Niv + '</option>'; 
                                    $('#Label_NivD').val(res[i].Label_Niv); 
                                }  
                                $('#ID_NivDropdownDroit').append(options);
                                } else {
                                    document.querySelector('#NewDroit').disabled = true;
                                }
                            }});
                            }
                      </script>

<!-- MODAL POUR Année Scolaire -->
<div class="modal fade" id="AS-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="ASForm" method="POST">
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="modalASLabel"></h4>
        </div>
        <div class="px-4 pb-0 ">    
          <h5 class="text-danger text-center" id="askASTEXT">Voulez-vous la supprimer vraiment?</h5>      
            <div class="mb-3">
              <label class="col-form-label" for="Label_AS">Désignation:</label>
              <input class="form-control" id="Id_AS" name="Id_AS" type="text" hidden/>
              <input class="form-control" id="Label_AS" name="Label_AS" type="text"/>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-falcon-default me-2 mb-1 " type="button" data-bs-dismiss="modal">
            Annuler
        </button>
          <button class="btn btn-falcon-primary me-3 mb-1" type="submit" id="btnSubAS">
            Update
          </button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- MODAL POUR Classe-->
<div class="modal fade" id="Classe-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="ClasseForm" method="POST">
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="modalClasseLabel"></h4>
        </div>
        <div class="px-4 pb-0 ">    
          <h5 class="text-danger text-center" id="askTEXT">Voulez-vous la supprimer vraiment?</h5>      
            <div class="mb-3">
              <label class="col-form-label" for="ID_Niv">Niveau:</label>
              <input class="form-control" id="ID_C" name="ID_C" type="text" hidden/>
              <select class="form-select" aria-label="Default select example" name="ID_Niv" id="ID_NivDropdown">
                
              </select>
            </div>
            <div class="mb-3">
              <label class="col-form-label" for="Label_C">Désignation:</label>
              <input class="form-control" id="Label_C" autocomplete="off" maxlength="9" name="Label_C" type="text" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-falcon-default me-2 mb-1 " type="button" data-bs-dismiss="modal">
            Annuler
        </button>
          <button class="btn btn-falcon-primary me-3 mb-1" type="submit" id="btnSubClasse">
            Update
          </button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- MODAL POUR Frais Scolarité -->
<div class="modal fade" id="Frais-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
    <div class="modal-content position-relative">
      <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
        <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" id="FraisForm" method="POST">
      <div class="modal-body p-0">
        
        <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
          <h4 class="mb-1" id="modalFraisLabel"></h4>
        </div>
        <div class="px-4 pb-0 ">    
          <h5 class="text-danger text-center" id="askFraisTEXT">Voulez-vous le supprimer vraiment?</h5>      
            <div class="mb-3">
              <label class="col-form-label" for="Label_Autre">Désignation:</label>
              <input class="form-control" id="ID_autre" name="ID_autre" type="text" hidden/>
              <input class="form-control" id="Label_Autre" name="Label_Autre" type="text"/>
            </div>
            <div class="mb-3">
              <label class="col-form-label" for="cout">Cout:</label>
              <input class="form-control" id="cout" autocomplete="off" maxlength="9" name="cout" type="text" />
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-falcon-default me-2 mb-1 " type="button" data-bs-dismiss="modal">
            Annuler
        </button>
          <button class="btn btn-falcon-primary me-3 mb-1" type="submit" id="btnSubFrais">
            Update
          </button>
      </div>
      </form>
    </div>
  </div>
</div>

              <div class="sticky-sidebar">
                <div class="card mb-3 overflow-hidden">
                  <div class="card-header">
                    <h5 class="mb-0">Année Scolaire</h5>
                  </div>
                  <div class="card-body bg-light">
                    <button class="btn btn-falcon-primary me-1 mb-1" onclick="AddAS()" type="button">Nouveau Année Scolaire
                    </button>
                    <div class="table-responsive scrollbar">
                        <table class="table text-center">
                          <thead>
                            <tr class="">
                              <th scope="col">ID</th>
                              <th scope="col">Désignation</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="bg-light ">
                            {{#each A_S}}
                            <tr>
                              <td>{{Id_AS}}</td>
                              <td>{{Label_AS}}</td>
                              <td>
                                  <button class="btn px-2" type="button" onclick="ModAS(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-edit"></span>
                                  </button>
                                  <button class="btn px-2" type="button" onclick="SupAS(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-trash-alt"></span>
                                  </button>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                          <script>
                            var a = document.getElementById("ASForm");
                            function AddAS() {                       
                              a.setAttribute("action", "/AddAS");
                              $("#modalASLabel").html("Nouveau Année Scolaire");
                              $("#btnSubAS").html("Ajouter");  
                              disableAS(false);     
                            window.document.forms["ASForm"].elements["Label_AS"].value="";
                            $("#AS-modal").modal('toggle');
                            }
                            function ModAS(ligne) { 
                              a.setAttribute("action", "/ModAS");
                              $("#modalASLabel").html("Modification");
                              $("#btnSubAS").html("Enregistrer");  
                              setValueAS(ligne);    disableAS(false);             
                              $("#AS-modal").modal('toggle');
                            }
                            function SupAS(ligne) {
                              a.setAttribute("action", "/DelAS");
                              $("#modalASLabel").html("Suppression");
                              $("#btnSubAS").html("Supprimer"); 
                              setValueAS(ligne); 
                              disableAS(true);
                              $("#AS-modal").modal('toggle');
                            }
                            function setValueAS(ligne){ 
                              var id=ligne.cells[0].innerText;
                              var label=ligne.cells[1].innerText;
                            $('#Id_AS').val(id);
                            $('#Label_AS').val(label);
                            }
                            function disableAS(bool){    
                              if(bool){document.getElementById('askASTEXT').style.visibility= 'visible';
                              }else {document.getElementById('askASTEXT').style.visibility= 'hidden';}
                              document.querySelector('#Label_AS').disabled = bool;
                            }
                          </script>
                        </table>
                      </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Les classes existantes</h5>
                  </div>

                  <div class="card-body bg-light">
                    <button class="btn btn-falcon-primary me-1 mb-1" onclick="AddClasse()" type="button">Nouveau Classe
                    </button>
                    <div class="table-responsive scrollbar">
                        <table class="table text-center">
                          <thead>
                            <tr class="">
                              <th scope="col">ID</th>
                              <th scope="col">Désignation</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="bg-light classe">
                            {{#each classe}}
                            <tr>
                              <td>{{ID_C}}</td>
                              <td>{{Label_C}}</td>
                              <td hidden>{{ID_Niv}}</td>
                              <td>
                                  <button class="btn px-2" type="button" onclick="ModClasse(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-edit"></span>
                                  </button>
                                  <button class="btn px-2" type="button" onclick="SupClasse(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-trash-alt"></span>
                                  </button>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                          <script>
                            var c = document.getElementById("ClasseForm");
                            function AddClasse() {                     
                              c.setAttribute("action", "/AddClasse");
                              $("#modalClasseLabel").html("Nouveau Classe");
                              $("#btnSubClasse").html("Ajouter");  
                              disableC(false);     
                            window.document.forms["ClasseForm"].elements["Label_C"].value="";
                            window.document.forms["ClasseForm"].elements["ID_NivDropdown"].value=0;
                            $("#Classe-modal").modal('toggle');
                            }
                            function LoadNiv(){   
                              // any @main.hbs no misy ny APPEL                      
                              $.ajax({url: 'getNiveau', success:function(res){
                                $('#ID_NivDropdown').html('');  
                                var options = '';  
                                //options += '<option value="0">Choisr un Niveau</option>'; 
                                for (var i = 0; i < res.length; i++) {  
                                    options += '<option value="' + res[i].ID_Niv + '">' + res[i].Label_Niv + '</option>';  
                                }  
                                $('#ID_NivDropdown').append(options); 
                            }});
                            }
                            function ModClasse(ligne) { 
                              c.setAttribute("action", "/ModClasse");
                              $("#modalClasseLabel").html("Modification");
                              $("#btnSubClasse").html("Enregistrer");  
                              setValueC(ligne);    disableC(false);             
                              $("#Classe-modal").modal('toggle');
                            }
                            function SupClasse(ligne) {
                              c.setAttribute("action", "/DelClasse");
                              $("#modalClasseLabel").html("Suppression");
                              $("#btnSubClasse").html("Supprimer"); 
                              setValueC(ligne); 
                              disableC(true);
                              $("#Classe-modal").modal('toggle');
                            }
                            function setValueC(ligne){ 
                              var id_c=ligne.cells[0].innerText;
                              var label=ligne.cells[1].innerText;
                              var id_n=ligne.cells[2].innerText;
                            $('#ID_C').val(id_c);
                            $('#Label_C').val(label);
                            $("#ID_NivDropdown").val(id_n);
                            }
                            function disableC(bool){    
                              if(bool){document.getElementById('askTEXT').style.visibility= 'visible';
                              }else document.getElementById('askTEXT').style.visibility= 'hidden';
                              document.querySelector('#Label_C').disabled = bool;
                              document.querySelector('#ID_NivDropdown').disabled = bool;
                            }
                          </script>
                        </table>
                      </div>
                  </div>
                </div>
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="mb-0">Les autres Frais de scolarité</h5>
                  </div>
                  <div class="card-body bg-light">
                    <button class="btn btn-falcon-primary me-1 mb-1" onclick="AddFrais()" type="button">Nouveau Frais scolarité
                    </button>
                    <div class="table-responsive scrollbar">
                        <table class="table text-center">
                          <thead>
                            <tr class="">
                              <th scope="col">ID</th>
                              <th scope="col">Désignation</th>
                              <th scope="col">Cout</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="bg-light classe">
                            {{#each Frais_Sco}}
                            <tr>
                              <td>{{ID_autre}}</td>
                              <td>{{Label_Autre}}</td>
                              <td>MGA {{Decimal cout}}<span class="CoutText" hidden>{{cout}}</span></td>
                              <td>
                                  <button class="btn px-2" type="button" onclick="ModFrais(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-edit"></span>
                                  </button>
                                  <button class="btn px-2" type="button" onclick="SupFrais(this.parentNode.parentNode)" title="Edit">
                                    <span class="text-500 fas fa-trash-alt"></span>
                                  </button>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                          <script>
                            var f = document.getElementById("FraisForm");
                            function AddFrais() {                       
                              f.setAttribute("action", "/AddFrais");
                              $("#modalFraisLabel").html("Nouveau Frais Scolarité");
                              $("#btnSubFrais").html("Ajouter");  
                              disable(false);     
                            window.document.forms["FraisForm"].elements["Label_Autre"].value="";
                            window.document.forms["FraisForm"].elements["cout"].value=0;
                            $("#Frais-modal").modal('toggle');
                            }
                            function ModFrais(ligne) { 
                              f.setAttribute("action", "/ModFrais");
                              $("#modalFraisLabel").html("Modification");
                              $("#btnSubFrais").html("Enregistrer");  
                              setValue(ligne);    disable(false);             
                              $("#Frais-modal").modal('toggle');
                            }
                            function SupFrais(ligne) {
                              f.setAttribute("action", "/DelFrais");
                              $("#modalFraisLabel").html("Suppression");
                              $("#btnSubFrais").html("Supprimer"); 
                              setValue(ligne); 
                              disable(true);
                              $("#Frais-modal").modal('toggle');
                            }
                            function setValue(ligne){ 
                              var id=ligne.cells[0].innerText;
                              var label=ligne.cells[1].innerText;
                              var cout= $(ligne).find('span.CoutText').html();
                              console.log(cout+' '+c);
                            $('#ID_autre').val(id);
                            $('#Label_Autre').val(label);
                            $("#cout").val(cout);
                            }
                            function disable(bool){    
                              if(bool){document.getElementById('askFraisTEXT').style.visibility= 'visible';
                              }else document.getElementById('askFraisTEXT').style.visibility= 'hidden';
                              document.querySelector('#Label_Autre').disabled = bool;
                              document.querySelector('#cout').disabled = bool;
                            }

                            // On initialise ici les DROPDOWN SELECT
                            if(true){
                            LoadNivDroit();
                            LoadMoisLastID();
                            LoadNiv();  
                          }
                          </script>
                        </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>